.MainScreen {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.MainScreen__footer {
    background: linear-gradient(180deg, #43BEA4 0%, rgba(255, 114, 98, 0) 98.89%);
    transform: rotate(180deg);
    height: 53px;
    z-index: 7;
    position: fixed;
    bottom: 8vh;
    right: 0;
    left: 0;
}