.Header {
    width: 100%;
    background: white;
    position: sticky;
    z-index: 5;
    top: 0;
    padding-top: 29px;
    padding-bottom: 6px;
    text-align: center;
}

.Header > span {
    font-weight: 700;
    font-size: 25px;
    color: #43BEA4;
}

.Header__icon {
    position: absolute;
    bottom: 0;
    left: 10px;
}


.Header__icon svg, .Header__icon path {
    fill: #43BEA4;
}

.App__p10 {
    margin-bottom: 10px;
}
