.Header {
    width: 100%;
    background: white;
    position: sticky;
    z-index: 5;
    top: 0;
    padding-top: 29px;
    padding-bottom: 6px;
    text-align: center;
}

.Header > span {
    font-weight: 700;
    font-size: 25px;
    color: #43BEA4;
}