.WinnedAuctions {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.WinnedAuctions--body {
    margin-top: 20px;
    padding-left: 13px;
    padding-right: 13px;
}
.WinnedAuctions--body--header {
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.WinnedAuctions--body--card {
    border-radius: 30px;
    display: flex;
    padding: 10px 15px;
    background: white;
    margin-bottom: 10px;
}

.WinnedAuctions--body--card--image {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.WinnedAuctions--body--card--info--header {
    font-weight: 600;
    font-size: 20px;
}

.WinnedAuctions--body--card--info--small {
    font-weight: 400;
    font-size: 20px;
    opacity: 0.51;
}

.WinnedAuctions--body--card--info--very-small {
    font-weight: 400;
    margin-top: 5px;
    font-size: 15px;
    opacity: 0.51;
}

.WinnedAuctions--body--card--info--bold {
    font-weight: 700;
    font-size: 20px;
    opacity: 1;
}

.WinnedAuctions--body--card--info--bold span.App__coin {
    opacity: 1;
    vertical-align: -2px;
    margin-left: 3px;
}

.WinnedAuctions--body--card--btn {
    width: fit-content;
    border: #43BEA4 1px solid;
    border-radius: 30px;
    vertical-align: -8px;
    padding-top: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 7px;
}

.WinnedAuctions--body--card--btn--selecting {
    width: fit-content;
    border: #43BEA4 1px solid;
    border-radius: 30px;
    padding-top: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 7px;
}

.WinnedAuctions--body--card--btn span {
    color: #43BEA4;
    font-weight: 500;
    font-size: 14px;
}

.WinnedAuctions--body--card--btn--selecting span {
    color: #43BEA4;
    font-weight: 500;
    font-size: 14px;

    user-select: text;
    -webkit-user-select: text;
}

.WinnedAuctions__footer {
    background: linear-gradient(180deg, #43BEA4 0%, rgba(255, 114, 98, 0) 98.89%);
    transform: rotate(180deg);
    height: 53px;
    z-index: 7;
    position: fixed;
    bottom: 8vh;
    right: 0;
    left: 0;
}