@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-ExtraBoldItalic.ttf) format("truetype");
    font-weight: 800;
    font-style: italic
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-BlackItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-ThinItalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-DemiBoldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-ExtraLightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-DemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-ExtraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: TT Commons;
    src: url(./Fonts/TTCommons-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

*, *:before, *:after {
    box-sizing: border-box;
    font-family: TT Commons,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none!important;
}

a, img, div, p {
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
    padding: 0;
    margin: 0;
}


body, html, div#root, div.App {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    background: #43BEA4;
}

.App__coin {
    display: inline-block;
    mask: url(./Icons/coin_black.svg) no-repeat 50% 50%;
    mask-size: cover;
    width: 18px;
    height: 18px;
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #000;
    vertical-align: -6px;
}


.App--opacitied {
    opacity: 0.51;
}

.App_BackIcon {
    
}